<div class="bg-home-bg min-h-[400px] bg-cover bg-center"></div>

<div class="flex items-center justify-center p-5 -mt-24 mb-44 md:mb-0">
    <div class="bg-white shadow p-8 w-full max-w-xl rounded-lg">
        <form class="space-y-6" [formGroup]="form" (ngSubmit)="handleSubmitBooking()">
            <!-- Título -->
            <h2 class="text-2xl text-center font-bold text-gray-800 mb-8">
                Buscar mi reserva
            </h2>

            <div class="space-y-2">
                <input
                    class="w-full px-4 py-3 border border-gray-300 rounded-lg outline-none  text-gray-700 placeholder-gray-400"
                    type="text" placeholder="Introduce el número de reserva" formControlName="confirmationCode" />
                <!-- Mensaje de error -->
                @if (validatorService.isValidField('confirmationCode',form)) {
                    <span class="text-sm text-red-500">
                        {{validatorService.getErrorMessage('confirmationCode',form)}}
                    </span>
                    }
            </div>

            <div class="mt-6">
                <button
                    class="w-full px-4 py-3 bg-[#2c3e50] hover:bg-[#1f2b38] text-white font-semibold rounded-lg outline-none"
                    type="submit">
                    Buscar reserva
                </button>
            </div>
        </form>
    </div>
</div>
