<div class="p-3">
    <div class="container mx-auto">
        <div class="flex flex-col items-center md:flex-row">
            <!-- informacion telefono header -->
            <div class="flex-1">
                <ul class="m-0">
                    <li class="inline-block ml-7">
                        <a class="block text-sm pr-5 relative text-white">
                            926912923
                            <i class="ri-phone-line text-xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- botones -->
            <div class="flex-1">
                <ul class="flex pr-0 mb-0 md:justify-end">
                    <li class="inline-block ml-7 ">
                        <a class="font-semibold text-sm text-white">Login</a>
                    </li>
                    <li class="inline-block ml-7">
                        <a class="font-semibold text-sm text-white">Registro</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
