<div class="bg-home-bg bg-cover bg-center bg-no-repeat py-12 md:py-32 max-h-screen">
    <div class="container mx-auto px-4 md:px-8 max-w-6xl">
        <div class="bg-white rounded-2xl shadow-md  mt-10 p-8 md:p-12 lg:p-16">
            <div class="text-center mb-10">
                <h2 class="text-lg md:text-5xl font-bold text-gray-900 mb-4">
                    Bienvenido al
                    <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#FF7F50] to-[#FF4500]">
                        Hotel AngularNG
                    </span>
                </h2>
                <p class="text-sm md:text-xl text-gray-900 font-light">
                    Estás a un paso de sumergirte en una experiencia de confort, bienestar y elegancia.
                </p>
            </div>

            <app-form-search-room />
        </div>
    </div>
</div>

<!-- Componentes secciones -->
<app-list-rooms />
<app-list-services />
<app-form-contact-maps />
