<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- Formulario -->
<form [formGroup]="hotelForm" (submit)="onSubmitFormHotels()" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Fecha de Entrada -->
        <div>
            <label class="text-left block text-sm font-semibold text-gray-700 mb-2">
                Fecha de Entrada <span class="text-red-700">*</span>
            </label>
            <div class="relative">
                <i class="ri-calendar-2-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 text-xl"></i>
                <dp-date-picker theme="dp-material" [config]="datePickerConfig"
                    placeholder="Selecciona la fecha"
                    class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-700 focus:border-orange-700 outline-none transition-all">
                </dp-date-picker>
            </div>
        </div>

        <!-- Fecha de Salida -->
        <div>
            <label class="block text-sm text-left font-semibold text-gray-700 mb-2">
                Fecha de Salida <span class="text-red-700">*</span>
            </label>
            <div class="relative">
                <i class="ri-calendar-2-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 text-xl"></i>
                <dp-date-picker theme="dp-material" [config]="datePickerConfig"
                    placeholder="Selecciona la fecha"
                    class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-orange-700 focus:border-orange-700 outline-none transition-all">
                </dp-date-picker>
            </div>
        </div>

        <!-- Tipo de Habitación -->
        <div>
            <label class="block text-sm text-left font-semibold text-gray-700 mb-2">
                Tipo de Habitación <span class="text-red-700">*</span>
            </label>
            <div class="relative">
                <i class="ri-hotel-bed-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 text-xl"></i>
                <select
                    class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg bg-white text-gray-700">
                    <option value="">Selecciona una opción</option>
                    <option value="normal">Standar</option>
                    <option value="premium">Premium</option>
                    <option value="exclusive">Ejecutiva</option>
                    <option value="exclusive">Familiar</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Botón de Buscar -->
    <div class="text-center">
        <button
            class="w-full md:w-auto bg-[#FF4500] md:bg-[#FF7F50] md:hover:bg-[#FF4500] text-white font-semibold py-3 px-8 rounded-lg "
            type="submit">
            Buscar Habitación
            <i class="ri-search-line ml-2"></i>
        </button>
    </div>
</form>
