<div class="p-8 lg:p-12 mt-10 bg-white rounded-lg border border-gray-200 shadow-sm">
    <form class="space-y-6" [formGroup]="form" (submit)="handleSubmitForm()">

        <div class="flex flex-col space-y-2">
            <label for="fullName" class="text-gray-700 font-medium">Nombre*</label>
            <div class="relative">
                <i class="ri-user-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                <input type="text" id="fullName" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded"
                    placeholder="Ingresa tu nombre" formControlName="fullName" />
            </div>
            @if (validatorsForms.isValidField('fullName', form)) {
                <span class="text-sm text-red-500 flex items-center mt-1">
                    <i class="ri-error-warning-line mr-1"></i>
                    {{validatorsForms.getErrorMessage('fullName', form)}}
                </span>
                }
        </div>

        <div class="flex flex-col space-y-2">
            <label for="email" class="text-gray-700 font-medium">Email*</label>
            <div class="relative">
                <i class="ri-mail-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                <input type="email" id="email" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded"
                    placeholder="Ingresa tu email" formControlName="email" />
            </div>
            @if (validatorsForms.isValidField('email', form)) {
                <span class="text-sm text-red-500 flex items-center mt-1">
                    <i class="ri-error-warning-line mr-1"></i>
                    {{validatorsForms.getErrorMessage('email', form)}}
                </span>
                }
        </div>

        <div class="flex flex-col space-y-2">
            <label for="numberPhone" class="text-gray-700 font-medium">Teléfono</label>
            <div class="relative">
                <i class="ri-phone-line absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                <input type="tel" id="numberPhone" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded"
                    placeholder="Ingresa tu teléfono" formArrayName="numberPhone" />
            </div>
        </div>

        <div class="flex flex-col space-y-2">
            <label for="message" class="text-gray-700 font-medium">Mensaje</label>
            <div class="relative">
                <i class="ri-message-2-line absolute left-3 top-4 text-gray-400"></i>
                <textarea id="message" rows="5" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded"
                    placeholder="Escribe tu mensaje aquí..." formControlName="message"></textarea>
            </div>
            @if (validatorsForms.isValidField('message', form)) {
            <span class="text-sm text-red-500 flex items-center mt-1">
                <i class="ri-error-warning-line mr-1"></i>
                {{validatorsForms.getErrorMessage('message', form)}}
            </span>
            }
        </div>

        <button type="submit"
            class="w-full md:w-auto inline-flex items-center justify-center bg-[#FF6B6B] font-semibold hover:bg-[#E55A5A] transition-colors duration-300 text-white px-8 py-3 rounded-lg text-lg">
            <i class="ri-send-plane-line mr-2"></i>
            Enviar
        </button>
    </form>
</div>
