<section>

    <h2 class="text-xl md:text-4xl font-bold text-gray-900 text-center md:py-10 md:mb-12 mt-44">
        Descubre Nuestras Exclusivas Habitaciones
    </h2>
    <div class="mb-10 md:mb-32 p-10">

        <!-- Primera Sección: Habitación Estándar -->
        <div class="grid grid-cols-1 md:grid-cols-2 bg-white overflow-hidden">
            <div class="mb-5 lg:mb-0 lg:p-10 flex flex-col justify-center md:w-[600px] mx-auto">
                <h3 class="text-lg lg:text-2xl font-bold text-slate-800 mb-4">Habitación Estándar</h3>
                <p class="text-slate-600">Disfruta de una habitación cómoda y acogedora, perfecta para relajarte
                    después de un día de exploración. Incluye todas las comodidades modernas para una estancia
                    placentera.</p>
                <div class="mt-6 flex flex-col lg:flex-row justify-between">
                    <div class="space-x-2">
                        <i class="fas fa-snowflake text-xl text-[#007F86]"></i>
                        <span class="text-xs lg:text-base text-slate-600">Aire acondicionado</span>
                    </div>
                    <div class="flex items-center space-x-2">
                        <i class="fas fa-wifi text-xl text-[#007F86]"></i>
                        <span class="text-xs lg:text-base text-slate-600">Wi-Fi</span>
                    </div>
                    <div class="flex items-center space-x-2">
                        <i class="fas fa-tv text-xl text-[#007F86]"></i>
                        <span class="text-sm lg:text-base text-slate-600">TV</span>
                    </div>
                </div>
            </div>
            <img src="https://cdn.extranetwork.com/property-photos/909/1698917162_DWZU6CXTYN_medium.jpg"
                alt="Habitación Estándar" class="w-full h-64 md:h-auto object-cover order-first md:order-last">
        </div>
        <!-- Segunda Sección: Habitación Premium -->
        <div class="grid grid-cols-1 md:grid-cols-2 bg-white overflow-hidden mt-12 lg:mt-0">
            <div class="mb-5 lg:mb-0 lg:p-10 flex flex-col justify-center md:w-[600px] mx-auto">
                <h3 class="text-2xl font-bold text-slate-800 mb-4">Habitación Premium</h3>
                <p class="text-slate-600">Experimenta el lujo en nuestra habitación premium, con amplio espacio,
                    vistas impresionantes y servicios exclusivos para una experiencia inolvidable.</p>
                <div class="mt-6 flex flex-col lg:flex-row justify-between">
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-snowflake text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Aire acondicionado</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-wifi text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Wi-Fi</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-tv text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">TV</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-coffee text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Desayuno</span>
                    </div>
                </div>
            </div>
            <img src="https://www.cataloniahotels.com/es/blog/wp-content/uploads/2024/01/tipos-habitaciones-hotel.jpg"
                alt="Habitación Premium" class="w-full h-64 md:h-auto object-cover order-first">
        </div>

        <!-- Tercera Sección: Suite Ejecutiva -->
        <div class="grid grid-cols-1 md:grid-cols-2 bg-white overflow-hidden mt-12 lg:mt-0">

            <div class="mb-5 lg:mb-0 lg:p-10 flex flex-col justify-center md:w-[600px] mx-auto">
                <h3 class="text-2xl font-bold text-slate-800 mb-4">Suite Ejecutiva</h3>
                <p class="text-slate-600">Nuestra suite ejecutiva ofrece el máximo confort y elegancia, ideal para
                    viajes de negocios o escapadas románticas. Incluye sala de estar y amenities de lujo.</p>
                <div class="mt-6 flex flex-col lg:flex-row justify-between">
                    <div class="flex flex-row md:flex-col text-center space-x-2">
                        <i class="fas fa-snowflake text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Aire acondicionado</span>
                    </div>
                    <div class="flex flex-row md:flex-col text-center  space-x-2">
                        <i class="fas fa-wifi text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Wi-Fi</span>
                    </div>
                    <div class="flex flex-row md:flex-col text-center space-x-2">
                        <i class="fas fa-tv text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">TV</span>
                    </div>
                    <div class="flex flex-row md:flex-col text-center space-x-2">
                        <i class="fas fa-coffee text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Desayuno</span>
                    </div>
                    <div class="flex flex-row md:flex-col text-center space-x-2">
                        <i class="fas fa-parking text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Estacionamiento</span>
                    </div>
                </div>
            </div>
            <img src="https://www.somnifabrik.com/wp-content/uploads/2024/10/hotel-beceite-somnifabrik-escorpion-1.jpg"
                alt="Suite Ejecutiva" class="w-full h-64 md:h-auto object-cover order-first md:order-last">
        </div>

        <!-- Cuarta Sección: Habitación Familiar -->
        <div class="grid grid-cols-1 md:grid-cols-2 bg-white overflow-hidden mt-12 lg:mt-0">
            <div class="mb-5 lg:mb-0 lg:p-10 flex flex-col justify-center md:w-[600px] mx-auto">
                <h3 class="text-2xl font-bold text-slate-800 mb-4">Habitación Familiar</h3>
                <p class="text-slate-600">Perfecta para familias, esta habitación ofrece espacio amplio, comodidades
                    para niños y un ambiente acogedor para que todos disfruten su estancia.</p>
                <div class="mt-6 flex flex-col lg:flex-row justify-between">
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-snowflake text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Aire acondicionado</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-wifi text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Wi-Fi</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-tv text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">TV</span>
                    </div>
                    <div class="flex md:flex-row space-x-2">
                        <i class="fas fa-child text-xl text-[#007F86]"></i>
                        <span class="text-slate-600">Zona infantil</span>
                    </div>
                </div>
            </div>
            <img src="https://www.harlingfordhotel.com/wp-content/uploads/2020/02/st-family-room-4.jpg"
                alt="Habitación Familiar" class="w-full h-64 md:h-auto object-cover order-first">
        </div>
    </div>
</section>
