<div class="bg-primaryBg p-3">
  <div class="container mx-auto">
    <div class="flex items-center">
      <!-- informacion telefono header -->
      <div class="flex-1">
        <ul class="m-0">
          <li class="inline-block ml-7">
            <a class="block text-sm pr-5 relative text-primaryC hover:text-primaryHoverC">
              <img src="assets/images/icon/call.svg" alt="call" class="right-0 absolute" />
              926912923
            </a>
          </li>
        </ul>
      </div>
      <!-- botones -->
      <div class="flex-1">
        <ul class="flex pr-0 mb-0 justify-end">
          <li class="inline-block ml-7 ">
            <a href="#" class="font-semibold text-sm text-primaryC hover:text-primaryHoverC">Login</a>
          </li>
          <li class="inline-block ml-7">
            <a href="#" class="font-semibold text-sm text-primaryC hover:text-primaryHoverC">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
