<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- Navbar -->
<div class="fixed z-10 w-full bg-white text-black shadow-lg">
    <div class="w-[90%] mx-auto py-4 md:py-3">
        <!-- Nav elementos -->
        <nav class="md:flex justify-between items-center">
            <!-- Logo y menú móvil -->
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-2">
                    <i class="ri-hotel-line text-3xl text-white"></i>
                    <a routerLink="/" class="text-2xl font-bold">
                        Hotel<span class="text-red-500 font-semibold">AngularNG</span>
                    </a>
                </div>
                <!-- Botón de menú móvil -->
                <a class="md:hidden">
                    <i [ngClass]="{'ri-menu-line': !isActive(), 'ri-close-line text-red-500': isActive}"
                        class="text-2xl cursor-pointer"
                        (click)="toggleNav()">
                    </i>
                </a>
            </div>

            <!-- Enlaces de navegación -->
            <div [class.hidden]="!isActive()" class="hidden md:flex flex-1 justify-end items-center">
                <ul class="md:flex space-y-5 md:space-y-0 md:space-x-8 px-2">
                    @for (item of navItem(); track $index) {
                    <li>
                        <a [routerLink]="item.path" (click)="hiddenNav()" class="font-semibold">
                            {{item.title}}
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
