<div class="max-w-6xl mx-auto pt-6 px-6 bg-white rounded">
  <h2 class="text-3xl font-semibold text-stone-500 mb-6 flex items-center">
    <i class="ri-calendar-event-line mr-2"></i> Crear una nueva reserva
  </h2>

  <form [formGroup]="form" (submit)="handleSubmitForm()">
    <div class="flex flex-col md:flex-row gap-8">

      <div class="flex-1">
        <h3 class="text-xl font-medium text-stone-500 mb-4 flex items-center">
          <i class="ri-hotel-bed-line mr-2"></i> Detalles de Habitación
        </h3>

        <div class="bg-stone-50 rounded-lg border border-stone-200 p-6" formGroupName="booking">

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-stone-600" >
            <div class="flex">
              <i class="ri-calendar-check-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="checkIn">Check In:</label>
                <input class="bg-transparent border-none" formControlName="checkIn" readonly />
              </div>
            </div>
            <div class="flex">
              <i class="ri-calendar-close-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="checkOut">Check Out:</label>
                <input class="bg-transparent border-none outline-none" formControlName="checkOut" readonly />
              </div>
            </div>
            <div class="flex">
              <i class="ri-home-4-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="roomType">Tipo habitación:</label>
                <input class="bg-transparent border-none outline-none" readonly />
              </div>
            </div>
            <div class="flex">
              <i class="ri-user-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="guest">Huéspedes:</label>
                <input class="bg-transparent border-none outline-none" formControlName="guest" readonly />
              </div>
            </div>
            <div class="flex">
              <i class="ri-moon-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="totalNights">Total noches:</label>
                <input class="bg-transparent border-none outline-none" formControlName="totalNights" readonly />
              </div>
            </div>
            <div class="flex">
              <i class="ri-money-euro-circle-line mr-2 text-stone-400"></i>
              <div class="flex flex-col">
                <label class="font-medium" for="pricePerNight">Precio/Noche:</label>
                <input class="bg-transparent border-none outline-none" formControlName="pricePerNight" readonly />
              </div>
            </div>
          </div>

          <div class="mt-6 pt-4 border-t border-stone-200">
            <div class="flex items-center justify-between text-lg font-semibold text-stone-700">
              <span class="flex items-center">
                <i class="ri-wallet-3-line mr-2"></i> Total:
              </span>
              <input class="bg-transparent border-none outline-none" formControlName="totalPriceNights" readonly />
            </div>
          </div>
        </div>
      </div>


      <div class="flex-1">
        <h3 class="text-xl font-medium text-stone-500 mb-4 flex items-center">
          <i class="ri-user-3-line mr-2"></i> Datos del Cliente
        </h3>

        <div class="space-y-6 px-5" formGroupName="client">
          <div class="flex flex-col">
            <label for="fullname" class="text-stone-600 mb-1 flex items-center">
              <i class="ri-user-line mr-2 text-stone-400"></i> Nombre Completo
            </label>
            <input class="rounded px-4 py-2 border" type="text" name="fullname" placeholder="Rellena este campo"
              formControlName="fullname">
          </div>

          <div class="flex flex-col">
            <label for="email" class="text-stone-600 mb-1 flex items-center">
              <i class="ri-mail-line mr-2 text-stone-400"></i> Email
            </label>
            <input class="rounded px-4 py-2 border" type="email" name="email" placeholder="Rellena este campo"
              formControlName="email">
          </div>

          <div class="flex flex-col">
            <label for="numberPhone" class="text-stone-600 mb-1 flex items-center">
              <i class="ri-phone-line mr-2 text-stone-400"></i> Número de teléfono
            </label>
            <input class="rounded px-4 py-2 border" type="text" name="numberPhone" placeholder="Rellena este campo"
              formControlName="phoneNumber">
          </div>

        </div>
      </div>
    </div>

    <div class="text-center pt-4 mt-5">
      <button
        class="px-6 py-3 bg-[#2C3E50] text-white font-semibold rounded hover:bg-[#1E2B38] transition-colors flex items-center justify-center mx-auto gap-2">
        Realizar reserva
      </button>
    </div>
  </form>
</div>
