<div class="max-w-[300px] mx-auto bg-gray-200  rounded-md mb-10 xl:mb-0 px-6 py-5 md:py-16">
    <div class="p-6 -m-6">
        <div class="pt-5">
            <h3 class="text-xl text-blackColorC py-5">Precio</h3>
            <select
                class="w-full h-14 cursor-pointer rounded-lg text-blackColorC outline-none text-base border-gray-300 bg-white px-5">
                <option class="bg-gray-500 text-white" selected>50€</option>
                <option class="bg-gray-500 text-white" value="1">100€</option>
                <option class="bg-gray-500 text-white" value="2">200€</option>
                <option class="bg-gray-500 text-white" value="3">300€</option>
                <option class="bg-gray-500 text-white" value="4">400€</option>
                <option class="bg-gray-500 text-white" value="5">500€</option>
            </select>
        </div>
    </div>
</div>
