<div class="bg-home-bg min-h-[250px] bg-center "></div>

<div class="py-10 lg:py-28 min-h-screen -mt-56 text-center p-5 mb-32 md:mb-0">
    <!-- <h1 class="text-2xl md:text-3xl font-normal bg-transparent text-center text-gray-600 p-2 bg-white inline-block">
        Listado de habitaciones
    </h1> -->

    <div class="max-w-6xl mx-auto p-5 mt-52 lg:mt-32">
        <app-form-search-room />
        @if ( hotels.length) {
        <app-filters></app-filters>

        <div class="container mx-auto flex mt-5">
            <app-aside></app-aside>
            <div>
                <div class="lg:flex lg:space-x-20 px-5">
                    <!-- listado de hoteles -->
                    <div class="lg:flex-1">
                        <div>

                            <!-- listado de hoteles -->
                            <ul class="grid gap-5 md:grid-cols-2 lg:grid-cols-1" *ngFor="let hotel of hotels">
                                <li class="bg-white2 mb-6 rounded-md p-8">
                                    <div class="lg:flex items-center justify-between">
                                        <div>
                                            <a>
                                                <img class="md:max-h-[300px] h-auto rounded-sm mx-auto"
                                                    src="assets/images/hotels/hotel4.jpg" alt="hotel" />
                                            </a>
                                        </div>
                                        <div class="p-5 md:border-l md:border-solid md:border-l-[#eeeeee]">
                                            <h3 class="text-2xl mb-2">
                                                <a>{{hotel.name}}</a>
                                            </h3>
                                            <p class="mb-2">{{hotel.street}},{{hotel.cityName}}</p>
                                            <!-- Rating -->
                                            <div class="mb-2">
                                                <i class="ri-star-fill text-lg text-[#f99e29] ml-[2px]"></i>
                                                <i class="ri-star-fill text-lg text-[#f99e29] ml-[2px]"></i>
                                                <i class="ri-star-fill text-lg text-[#f99e29] ml-[2px]"></i>
                                                <i class="ri-star-fill text-lg text-[#f99e29] ml-[2px]"></i>
                                                <i class="ri-star-half-fill text-lg text-[#f99e29] ml-[2px]"></i>
                                            </div>
                                            <p>{{hotel.averageCalification}}/5 Excelente (100 reviews)</p>
                                            <div class="my-5 text-lg font-bold">
                                                {{hotel.price}}€ <span class="font-normal text-base">Por noche</span>
                                            </div>
                                            <a
                                                class="bg-secondaryBg hover:bg-secondaryHoverBg text-white font-semibold rounded-md px-3 py-2 cursor-pointer">
                                                Reservar
                                                <i class="ri-checkbox-circle-line"></i>
                                            </a>
                                        </div>
                                        <div class="p-5">
                                            <ul class="space-y-5" *ngFor="let service of hotel.services">
                                                <li class="flex justify-between">
                                                    {{service.serviceName}}
                                                    <i *ngIf="service.serviceName.toLowerCase().includes('wifi')"
                                                        class="ri-wifi-line text-primaryHoverC"></i>
                                                    <i *ngIf="service.serviceName.toLowerCase().includes('gym')"
                                                        class="ri-riding-line text-primaryHoverC"></i>
                                                    <i *ngIf="service.serviceName.toLowerCase().includes('parking')"
                                                        class="ri-roadster-line text-primaryHoverC"></i>
                                                    <i *ngIf="service.serviceName.toLowerCase().includes('restaurante')"
                                                        class="ri-restaurant-2-line text-primaryHoverC"></i>
                                                    <i *ngIf="service.serviceName.toLowerCase().includes('aire')"
                                                        class="ri-wheelchair-line  text-primaryHoverC"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }@else {
        <div class="mt-10">
            <h2 class="text-3xl text-gray-400">En construcción</h2>
            <i class="ri-paint-brush-line text-5xl text-gray-400"></i>
        </div>
        }

    </div>
</div>
