<div class="p-5 lg:p-16 mt-10 md:pt-0 bg-white rounded-lg shadow-2xl">
    <h3 class="text-center text-2xl font-bold text-[#2c3e50] mb-4">Formulario de contacto</h3>
    <hr class="border-[#007F86] mb-6">
    <div>
        <form class="space-y-6" [formGroup]="form" (submit)="handleSubmitForm()">
            <div class="flex flex-col space-y-2">
                <label for="fullName" class="text-sm font-medium text-gray-700">Nombre completo</label>
                <input type="text" id="fullName" class="w-full px-4 py-2 border border-gray-300 rounded"
                    placeholder="Ingresa tu nombre">
            </div>

            <div class="flex flex-col space-y-2">
                <label for="phoneNumber" class="text-sm font-medium text-gray-700">Teléfono de contacto</label>
                <input type="text" id="phoneNumber" class="w-full px-4 py-2 border border-gray-300 rounded"
                    placeholder="Ingresa tu teléfono">
            </div>

            <div class="flex flex-col space-y-2">
                <label for="messageBody" class="text-sm font-medium text-gray-700">Mensaje</label>
                <textarea id="messageBody" rows="5" class="w-full px-4 py-2 border border-gray-300 rounded"
                    placeholder="Escribe tu mensaje"></textarea>
            </div>

            <button type="submit"
                class="outline-none w-full px-4 py-3 bg-[#2c3e50] text-white font-semibold rounded-lg hover:bg-[#005F66]">
                Enviar
            </button>
        </form>
    </div>
</div>
