<div class="bg-home-bg bg-cover bg-center bg-no-repeat py-28">
  <div class="container mx-auto">
    <div>
      <div class="text-center text-white font-bold">
        <h2 class="text-5xl mb-5">
          Busca tu alojamiento en cualquier parte del mundo
        </h2>
        <p class="text-3xl">Hoteles de 3, 4 y 5 estrellas al mejor precio</p>
      </div>
      <form class="bg-whiteBg rounded-md mt-8 mx-auto">
        <div class="flex items-center justify-between p-10 mx-auto">
          <div>
            <div class="pr-8 relative mr-12 mb-0">
              <label
                class="text-left mb-1 text-blackColorC font-bold"
                for="search"
                >Destino</label
              >
              <div class="flex text-center">
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="Introduce el destino"
                  class="border border-gray-300 rounded-md px-4 py-2 h-auto outline-none mr-2 text-sm"
                />
                <img src="assets/images/icon/search_form.svg" alt="lugar" />
              </div>
            </div>
          </div>
          <div>
            <div class="pr-8 relative mr-12 mb-0">
              <label class="mb-1 text-blackColorC font-bold" for="checkIn"
                >Fecha Entrada</label
              >
              <div class="flex space-x-2">
                <dp-date-picker
                  theme="dp-material"
                  [config]="datePickerConfig"
                  placeholder="Selecciona la fecha de entrada"
                  class="border border-gray-300 rounded-md px-4 py-1"
                >
                </dp-date-picker>
                <img src="assets/images/icon/calendar.svg" alt="checkIn" />
              </div>
            </div>
          </div>
          <div>
            <div class="pr-8 relative mr-12 mb-0">
              <label class="mb-1 text-blackColorC font-bold" for="checkOut"
                >Fecha salida</label
              >
              <div class="flex space-x-2">
                <dp-date-picker
                  theme="dp-material"
                  [config]="datePickerConfig"
                  placeholder="Selecciona la fecha de salida"
                  class="border border-gray-300 rounded-md px-4 py-1"
                ></dp-date-picker>
                <img src="assets/images/icon/calendar.svg" alt="checkOut" />
              </div>
            </div>
          </div>
          <div>
            <div class="pr-8 relative mr-12 mb-0">
              <label class="mb-1 text-blackColorC font-bold" for="guest"
                >Nº Personas</label
              >
              <div class="flex">
                <input
                  type="text"
                  name="guest"
                  id="guest"
                  placeholder="Introduce las personas"
                  class="border border-gray-300 rounded-md px-4 py-2 h-auto outline-none mr-2 text-sm"
                />
                <img src="assets/images/icon/user-check.svg" alt="guest" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <button
                class="bg-secondaryBg hover:bg-secondaryHoverBg relative transition-all ease-in-out text-white rounded-md text-center border-none text-xl w-20 h-16 p-3"
                type="submit"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
